<div class="row">
  <div class="col-md-6">
    <h1><i><%= @fundraiser.name %></i></h1>
    <% if @fundraiser.picture.present? %>
      <%= image_tag @fundraiser.picture(:medium) %>
    <% end %>
    <p>This hipster's total donations: $<%= @total %></p>

    <p><%= @fundraiser.description %></p>
    <%= render "donations/form" %>

    <% if current_user.admin || current_user.fundraiser == @fundraiser %>
      <%= link_to "Edit Hipster",  edit_fundraiser_path(@fundraiser), class: "edit_hipster", remote: true%>
      <br>
      <%= link_to "Delete Hipster", fundraiser_path(@fundraiser), :data => {method: 'delete'} %>
    <% end %>
  </div>
</div>
