<h1> <%= @fundraiser.name %> </h1>

<p>
  <%= @fundraiser.description %>
</p>

<%= render "charges/form", amount: 500 %>

<% if current_user.admin || current_user.fundraiser == @fundraiser %>
  <%= link_to "Edit Hipster",  edit_fundraiser_path(@fundraiser), class: "edit_hipster", remote: true%>
  <%= link_to "Delete Hipster", fundraiser_path(@fundraiser), :data => {method: 'delete'} %>
<% end %>
