<h2> <%= @fundraiser.name %> </h2>

<p>
  <%= @fundraiser.description %>
</p>

<div class="donation-wrapper">
  <!-- <h4>Donate to <%= @fundraiser.name %> -->

  <div class="inner-donation-wrapper">
    <input class="form-control"
          type="number"
          id="custom-donation-amount"
          placeholder="$50.00"
          min="0"
          step="10.00"/>

    <button id="customButton">Donate</button>
  </div>
</div>

  <script src="https://checkout.stripe.com/checkout.js"></script>

  <script>
    var handler = StripeCheckout.configure({
      key: 'pk_test_yckTsrSU974a9Xb6dE4jAWhM',
      image: '/assets/marketplace.png',
      token: function(token) {
        // Use the token to create the charge with a server-side script.
        // You can access the token ID with `token.id`
      }
    });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options
    var amount = $("#custom-donation-amount").val() * 100;
      handler.open({
       name: 'Donating $' + amount/100 + ' to <%= @fundraiser.name %>',
       description: "Your donation makes a difference",
       amount: amount
      });
      e.preventDefault();
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
      handler.close();
    });
 </script>

<% if current_user.admin || current_user.fundraiser == @fundraiser %>
  <%= link_to "Edit Hipster",  edit_fundraiser_path(@fundraiser), class: "edit_hipster", remote: true %>
  <%= link_to "Delete Hipster", fundraiser_path(@fundraiser), :data => {method: 'delete'} %>
<% end %>
<!-- add donors sidebar or something here, donate button, etc. -->
